
@{
    ViewBag.Title = "ClinicPortal";
    Layout= "~/Views/Shared/_LayoutHome.cshtml";
}



<section id="about">
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
            <div class="col-md-6">
                <p>At The Wellness Bliss Group, our aim is to provide for all of your and your family's medical needs. We are a small, 'boutique' practice and are proud to be a part of the local community, bringing high-quality, personalised GP medical services to the people of East Ballina and the surrounding area. We aim to give you, as a patient, the time and respect that you deserve and need, whilst delivering the best in medical care</p>

            </div>
            <div class="col-md-3">

                <img src="~/Content/picture/clinic.jpg" alt="Alternate Text" height="400" width="600" />

            </div>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-danger">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</section>


<section id="contactus" style="margin-top:10px">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">We are in Delhi, India. Our Mobile number is +918271948677</h1>
            <p class="lead">
                Maecenas viverra, leo et ullamcorper tincidunt, metus arcu vehicula lorem, vel commodo tortor mauris id elit. Sed at risus vulputate, suscipit enim eu, congue velit. Sed mi eros, dictum malesuada laoreet in, ornare eget purus. Pellentesque augue mi, lacinia ac massa maximus, tempus sodales libero.
            </p>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="container mt-3">
            
           
            <img src="~/Content/picture/clinic1.png" class="float-end" alt="Paris" width="304" height="236">
        </div>
        @*<div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/picture/clinic1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/picture/clinic2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/picture/clinic3.jpg" alt="Third slide">
            </div>
        </div>*@


        @*<div class="container mt-3">
                <img src="~/Content/picture/clinic3.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
            </div>
            <div class="container mt-3">
            <img src="~/Content/picture/clinic1.png" class="rounded" alt="Cinque Terre" width="304" height="236">
        </div>
        <div class="container mt-3">
        <img src="~/Content/picture/clinic2.png" class="rounded" alt="Cinque Terre" width="304" height="236">
        </div>*@


        @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
    </div>
</section>

